<div class="row">
  <div class="col-4"></div>
  <div class="col-8">
    <h2 class="font-weight-bold">購入した商品</h2>
    <hr>
    <ul style="list-style:none; padding-left:0;">
      <% @orders.each do |order| %>
        <%= link_to "" do %>
          <li class="d-flex align-items-center">
            <% if order.item.images.attached? %>
              <%= image_tag order.item.images[0] ,style:"height:100px; width:100px; object-fit:cover;" %>
            <% end %>
            <p><%= order.item.title %></p>
          </li>
        <% end %>
        <hr>
      <% end %>
    </ul>
  </div>
</div>
