/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap/scss/bootstrap";
 @import "font-awesome";
 @import url('https://fonts.googleapis.com/css2?family=Sawarabi+Gothic&display=swap');

body{
  font-family: 'Sawarabi Gothic', sans-serif;
}

.img-logo{
  width:250px;
}

.messages{
  .name{
    margin-left:15px;
  }
  p{
    word-break: break-all;
  }
  .your_message {
    text-align: left;
    .message{
      max-width: 90%;
      position: relative;
      display: inline-block;
      margin:0 0 1.5em 15px;
      padding: 7px 10px;
      min-width: 120px;
      color: #555;
      font-size: 16px;
      background: #EEEEEE;
      &::before{
        content: "";
        position: absolute;
        top: 50%;
        left: -30px;
        margin-top: -15px;
        border: 15px solid transparent;
        border-right: 15px solid #EEEEEE;
      }
    }
  }
  .my_message {
    text-align: right;
    .message{
      max-width: 90%;
      text-align: left;
      position: relative;
      display: inline-block;
      margin:0 15px 1.5em 0;
      padding: 7px 10px;
      min-width: 120px;
      color: #555;
      font-size: 16px;
      background: #EEEEEE;
      &::before{
        content: "";
        position: absolute;
        top: 50%;
        left: 100%;
        margin-top: -15px;
        border: 15px solid transparent;
        border-left: 15px solid #EEEEEE;
      }
    }
  }
}
#reload{
  background: none;
  border:none;
  font-size:20px;
}
